doctype html
html
  head
    title NAVIN DANCE ACADEMY 
    block scripts
    block style
  body
    nav#navbar 
        ul 
            div#logo
                img(src="./static/logo.png", alt="" height="65px",width="65px")
            li #[a(href="/") Home ]
            li #[a(href="/") About ]
            li #[a(href="/contact") Contact Us ]
            li #[a(href="/") Class info ]
            li #[a(href="/") Services ]
    block content
    footer#footer 
        | Copyright © 2019 HarryAcademy.com | All Rights Reserved