doctype html
html
  head
    title Navin Dance Academy 
    style
      include ../static/style.css
  body
    nav#navbar 
        ul 
            div#logo
                img(src="./static/logo.png", alt="" height="65px",width="65px")
            li #[a(href="/") Home ]
            li #[a(href="/") About ]
            li #[a(href="/") Contact Us ]
            li #[a(href="/") Class info ]
            li #[a(href="/") Services ]
    section#intro
        h1 WELCOME TO NAVIN'S DANCE ACADEMY 
        br
        h2 EAT SLEEP DANCE REPEAT
    section#missionsection
        |OUR MISSION 
        div.cards
            div.card
                p ZUMBA 
                div.card-box
                    div.card-img
                        img(src="./static/zumba.jpg", alt="")
                        p NDA WELCOMES YOU
            div.card
                p POP,SALSA,....
                div.card-box
                    div.card-img
                        img(src="./static/salsa.webp", alt="")
                        p NDA WELCOMES YOU
            div.card
                p Bollywood Covers
                div.card-box
                    div.card-img
                        img(src="./static/boolywood.gif", alt="")
                        p NDA WELCOMES YOU
    section#sponsorsection
        |OUR SPONSORS
        div.spon
            img(src="./static/facebook.png", alt="")
            img(src="./static/whatsapp.png", alt="")
            img(src="./static/instagram.png", alt="")
            img(src="./static/twitter.png", alt="")
    footer#footer 
        | Copyright © 2019 HarryAcademy.com | All Rights Reserved
    script
      include ../static/index.js